{% for exe in exes %}
dist/build/{{exe}}/{{exe}}: src/{{exe}}.hs cabal.sandbox.config
	bash -ac "echo -n '$<,' >> $(COMPILE_TIMES)"
	bash -ac "echo -n '`date +%s.%N`,' >> $(COMPILE_TIMES)"
	cabal -j8 build $<
	bash -ac "echo -n '`date +%s.%N`,' >> $(COMPILE_TIMES)"
	bash -ac "echo -n '`date +%s.%N`,' >> $(COMPILE_TIMES)"
	./$@ 
	bash -ac "echo '`date +%s.%N`' >> $(COMPILE_TIMES)"
{% endfor %}
